
.portada{
    display: flex;
    justify-content: space-around;
    position: relative; /**/ 
    position: sticky;
    /*text-align: center;*/
}
.portada img{
    width: 50%;
}

.titulo{
    /*display: flex;*/
    height: fit-content;
    width: fit-content;
    position: absolute; /*Con absolute los demas elementos del HTML, no le guardan un espacio pese a ser movido*/ 
    top: 15%;
    left: 30%;
    font-family: "Parisienne", "Caveat";
    font-size: 50px;
    color: beige;
}

@media (max-width:980px) {
    .portada{
        width: fit-content;
        display: flex;
        align-items:flex-start;
    }
    .portada img{
        height: 50%;
        width: auto;
    }
}